# BestROM force-disable
# type vendor_diag-router, domain;
# BestROM force-disable
# type vendor_diag-router_exec, exec_type, vendor_file_type, file_type;

# BestROM force-disable
# init_daemon_domain(vendor_diag-router)

# BestROM sepolicy: disabled missing vendor_hal attr
# hal_server_domain(vendor_diag-router, vendor_hal_diaghal)
# BestROM force-disable
# hal_client_domain(vendor_diag-router, hal_allocator)
# BestROM sepolicy: disabled missing vendor_hal attr
# binder_call(vendor_hal_diaghal_client, vendor_hal_diaghal_server)
# BestROM sepolicy: disabled missing vendor_hal attr
# binder_call(vendor_hal_diaghal_server, vendor_hal_diaghal_client)

# BestROM sepolicy: disabled missing vendor_hal attr
# hal_attribute_hwservice(vendor_hal_diaghal, vendor_hal_diaghal_hwservice)

# BestROM force-disable
# allow vendor_diag-router functionfs:dir r_dir_perms;
# BestROM force-disable
# allow vendor_diag-router functionfs:file rw_file_perms;

# BestROM force-disable
# allow vendor_diag-router self:qipcrtr_socket create_socket_perms_no_ioctl;

# BestROM force-disable
# allow vendor_diag-router vendor_mhi_diag_device:chr_file rw_file_perms;

# BestROM force-disable
# allow vendor_diag-router self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;

# BestROM force-disable
# allow vendor_diag-router vendor_modem_data_file:dir { search add_name write };

# BestROM force-disable
# allow vendor_diag-router vendor_modem_data_file:file create_file_perms;

# BestROM force-disable
# allow { domain -coredomain -hal_configstore -vendor_init} vendor_diag-router:unix_stream_socket connectto;
